/*
 * Alumne: Sorin Chiperi Arnaut
 * Codi: u1987503
 */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 16px;
    gap: 20px;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#playerCoordinates {
    display: flex;
    gap: 10px;

    & span {
        font-size: 16px;
        font-weight: bold;
    }
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: #9e9e9e;
    margin: 5px 0;
    opacity: 0.5;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        font-size: 16px;
        min-width: 120px;
    }

    & input {
        flex: 1;
        cursor: pointer;
    }
}

.mode-option,
.shader-option {
    display: flex;
    align-items: center;
    gap: 10px;

    & span {
        font-size: 16px;
        min-width: 70px;
    }

    & label {
        font-size: 16px;
        min-width: 80px;
    }
}

.light-selector-container {
    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        font-size: 16px;
        min-width: 60px;
    }

    & select {
        flex: 1;
        font-size: 14px;
        cursor: pointer;
        padding: 4px;
    }
}

.light-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;

    & input[type="checkbox"] {
        cursor: pointer;
    }

    & label {
        font-size: 16px;
    }
}

.light-position-container {
    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        min-width: 120px;
        font-size: 16px;
    }
}

.light-position-inputs {
    display: flex;
    gap: 10px;

    & input {
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;

        width: 40px;
        padding: 4px;
    }
}

.light-color-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;

    & label {
        min-width: 120px;
        font-size: 16px;
    }

    & input[type="color"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }
}

.texture-title {
    font-size: 16px;
    font-weight: bold;
}

.texture-param {
    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        font-size: 16px;
        min-width: 120px;
    }

    & input {
        flex: 1;
        cursor: pointer;
    }
}